USE [master]
GO
/****** Object:  Database [ECMS]    Script Date: 4/12/2020 2:52:03 AM ******/
CREATE DATABASE [ECMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ECMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ECMS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECMS]
GO
/****** Object:  Table [dbo].[Assignment_Status]    Script Date: 4/12/2020 2:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment_Status](
	[Assignment_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Assignment_Status_Name_Ar] [nvarchar](max) NULL,
	[Assignment_Status_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Assignment_Status] PRIMARY KEY CLUSTERED 
(
	[Assignment_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[Attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Id] [int] NULL,
	[Attachment_Path] [nvarchar](max) NULL,
	[Attachment_Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[Attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Name_Ar] [nvarchar](max) NULL,
	[Employee_Email] [nvarchar](max) NULL,
	[Employee_Phone] [nvarchar](max) NULL,
	[Group_Id] [int] NULL,
	[Employee_Name_En] [nvarchar](max) NULL,
	[Employee_Profile] [nvarchar](max) NULL,
	[Employee_Signature] [nvarchar](max) NULL,
	[Employee_Password] [nvarchar](max) NULL,
	[Employee_Active] [bit] NULL,
	[Language_id] [int] NULL,
	[Calendar_id] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee_Structure]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Structure](
	[Employee_Structure_Id] [int] IDENTITY(1,1) NOT NULL,
	[Structure_Id] [int] NULL,
	[Employee_Id] [int] NULL,
	[Status_Structure] [bit] NULL,
	[Type_Delegation] [bit] NULL,
	[Default_Structure] [bit] NULL,
 CONSTRAINT [PK_Employee_Structure] PRIMARY KEY CLUSTERED 
(
	[Employee_Structure_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Group]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Group_Name_Ar] [nvarchar](max) NULL,
	[Group_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LanguageMaster]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Language_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_LanguageMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lanuage_Detials]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanuage_Detials](
	[Language_Detial_ID] [int] IDENTITY(1,1) NOT NULL,
	[Language_Master_ID] [int] NULL,
	[Language_Detial_FieldName] [nvarchar](150) NULL,
	[Language_Detial_Value] [nvarchar](150) NULL,
 CONSTRAINT [PK_Lanuage_Detials] PRIMARY KEY CLUSTERED 
(
	[Language_Detial_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log_File]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_File](
	[Log_Id] [int] IDENTITY(1,1) NOT NULL,
	[Log_Date] [datetime] NULL,
	[Log_Note] [ntext] NULL,
	[Login_Id] [int] NULL,
	[Form_Id] [int] NULL,
	[Log_Name] [nvarchar](max) NULL,
	[Log_Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log_File] PRIMARY KEY CLUSTERED 
(
	[Log_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification_Master]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Master](
	[Notification_Id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_Date] [datetime] NULL,
	[Notification_Description_Ar] [nvarchar](max) NULL,
	[Notification_Description_En] [nvarchar](max) NULL,
	[Is_Read] [bit] NULL,
	[Date_Read] [datetime] NULL,
	[Employee_Structure_Id] [int] NULL,
	[Master_Id] [int] NULL,
	[Notification_Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notification_Master] PRIMARY KEY CLUSTERED 
(
	[Notification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Owner_Relationship]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner_Relationship](
	[Owner_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Id] [int] NULL,
	[Owner_Name] [nvarchar](max) NULL,
	[Owner_Phone] [nvarchar](max) NULL,
	[Identity_Type] [nvarchar](max) NULL,
	[Identity_Number] [nvarchar](max) NULL,
 CONSTRAINT [PK_Owner_Relationship] PRIMARY KEY CLUSTERED 
(
	[Owner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Permission_Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name_Ar] [nvarchar](max) NULL,
	[Permission_Name_En] [nvarchar](max) NULL,
	[Parent] [int] NULL,
	[Url_Path] [nvarchar](max) NULL,
	[Permission_Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission_Group]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission_Group](
	[Permission_Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Id] [int] NULL,
	[Group_Id] [int] NULL,
 CONSTRAINT [PK_Permission_Group] PRIMARY KEY CLUSTERED 
(
	[Permission_Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Structure]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Structure](
	[Structure_Id] [int] IDENTITY(1,1) NOT NULL,
	[Structure_Name_Ar] [nvarchar](max) NULL,
	[Structure_Parent] [int] NULL,
	[Structure_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Structure] PRIMARY KEY CLUSTERED 
(
	[Structure_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Class]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Class](
	[Treatment_Class_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Class_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Class_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Treatment_Class] PRIMARY KEY CLUSTERED 
(
	[Treatment_Class_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Confidentiality]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Confidentiality](
	[Treatment_Confidentiality_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Confidentiality_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Confidentiality_Name_En] [nvarchar](max) NULL,
	[Css_Class] [nvarchar](50) NULL,
 CONSTRAINT [PK_Treatment_Confidentiality] PRIMARY KEY CLUSTERED 
(
	[Treatment_Confidentiality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Delivery]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Delivery](
	[Treatment_Delivery_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Delivery_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Delivery_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Treatment_Delivery] PRIMARY KEY CLUSTERED 
(
	[Treatment_Delivery_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Detial]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Detial](
	[Treatment_Detial_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Id] [int] NULL,
	[To_Employee_Structure_Id] [int] NULL,
	[Parent] [int] NULL,
	[Assignment_Status_Id] [int] NULL,
	[Is_Read] [bit] NULL,
	[Read_Date] [datetime] NULL,
	[Is_Delete] [bit] NULL,
	[Delete_Date] [datetime] NULL,
	[Note] [ntext] NULL,
	[Key_Word] [ntext] NULL,
	[Treatment_Copy_To] [bit] NULL,
	[Treatment_Detial_Date] [datetime] NULL,
 CONSTRAINT [PK_Treatment_Detial] PRIMARY KEY CLUSTERED 
(
	[Treatment_Detial_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Master]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Master](
	[Treatment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Subject] [nvarchar](max) NULL,
	[Treatment_Date] [datetime] NULL,
	[Create_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Treatment_Body] [ntext] NULL,
	[Required_Reply] [bit] NULL,
	[From_Employee_Structure_Id] [int] NULL,
	[Treatment_Type_Id] [int] NULL,
	[Treatment_Class_Id] [int] NULL,
	[Treatment_Priority_id] [int] NULL,
	[Treatment_Confidentiality_Id] [int] NULL,
	[Treatment_Delivery_Id] [int] NULL,
	[Treatment_Status_Id] [int] NULL,
	[Treatment_Procedure_Id] [int] NULL,
	[Prepared_Administration_Id] [int] NULL,
	[Required_Reply_Date] [datetime] NULL,
	[Treatment_Number] [nvarchar](50) NULL,
	[Treatment_Keywork] [nvarchar](max) NULL,
	[Treatment_Mother] [int] NULL,
 CONSTRAINT [PK_Treatment] PRIMARY KEY CLUSTERED 
(
	[Treatment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Priority]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Priority](
	[Treatment_Priority_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Priority_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Priority_Name_En] [nvarchar](max) NULL,
	[Css_Class] [nvarchar](50) NULL,
	[Card_Class] [nvarchar](50) NULL,
 CONSTRAINT [PK_Treatment_Priority] PRIMARY KEY CLUSTERED 
(
	[Treatment_Priority_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Procedure]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Procedure](
	[Treatment_Procedure_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Procedure_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Procedure_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Treatment_Procedure] PRIMARY KEY CLUSTERED 
(
	[Treatment_Procedure_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Status]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Status](
	[Treatment_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Status_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Status_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Treatment_Status] PRIMARY KEY CLUSTERED 
(
	[Treatment_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Treatment_Type]    Script Date: 4/12/2020 2:52:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment_Type](
	[Treatment_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Treatment_Type_Name_Ar] [nvarchar](max) NULL,
	[Treatment_Type_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Treatment_Type] PRIMARY KEY CLUSTERED 
(
	[Treatment_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Assignment_Status] ON 

INSERT [dbo].[Assignment_Status] ([Assignment_Status_Id], [Assignment_Status_Name_Ar], [Assignment_Status_Name_En]) VALUES (1, N'1', N'1')
INSERT [dbo].[Assignment_Status] ([Assignment_Status_Id], [Assignment_Status_Name_Ar], [Assignment_Status_Name_En]) VALUES (2, N'2', N'2')
INSERT [dbo].[Assignment_Status] ([Assignment_Status_Id], [Assignment_Status_Name_Ar], [Assignment_Status_Name_En]) VALUES (3, N'3', N'3')
SET IDENTITY_INSERT [dbo].[Assignment_Status] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Name_En], [Employee_Profile], [Employee_Signature], [Employee_Password], [Employee_Active], [Language_id], [Calendar_id]) VALUES (1, N'أيمن امين', N'ayman@softwarecornerit.com', N'0550932548', 1, N'Ayman Amin', N'', NULL, N'rsmlPTyipCXiC1khSwZCGewkDreD0DDyysJvad1ST03IA65wnPRKk+RkBGiF6EpWgc6hLKvPTXDs5ZTSw5hHsYY/YmZ5o8RXJmyQLUrGuLC7oop+2QdR1Wga4lR/FGLK', 1, 2, 1)
INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Name_En], [Employee_Profile], [Employee_Signature], [Employee_Password], [Employee_Active], [Language_id], [Calendar_id]) VALUES (2, N'عمر احمد', N'ayman1793@gmail.com', N'09246548451', 2, N'Omer Ahmed', N'', NULL, N'rsmlPTyipCXiC1khSwZCGewkDreD0DDyysJvad1ST03IA65wnPRKk+RkBGiF6EpWgc6hLKvPTXDs5ZTSw5hHsYY/YmZ5o8RXJmyQLUrGuLC7oop+2QdR1Wga4lR/FGLK', 1, 1, 0)
INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Name_En], [Employee_Profile], [Employee_Signature], [Employee_Password], [Employee_Active], [Language_id], [Calendar_id]) VALUES (3, N'مازن عوض', N'mazin@gmail.com', N'0550932518', 1, N'Mazin Awad', N'', NULL, N'123', 1, 2, 0)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Employee_Structure] ON 

INSERT [dbo].[Employee_Structure] ([Employee_Structure_Id], [Structure_Id], [Employee_Id], [Status_Structure], [Type_Delegation], [Default_Structure]) VALUES (1, 1, 1, 1, 1, NULL)
INSERT [dbo].[Employee_Structure] ([Employee_Structure_Id], [Structure_Id], [Employee_Id], [Status_Structure], [Type_Delegation], [Default_Structure]) VALUES (2, 2, 2, 1, 1, NULL)
INSERT [dbo].[Employee_Structure] ([Employee_Structure_Id], [Structure_Id], [Employee_Id], [Status_Structure], [Type_Delegation], [Default_Structure]) VALUES (3, 3, 3, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Employee_Structure] OFF
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (1, N'الاداريين', N'Management')
INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (2, N'الموارد البشرية', N'Human Resource')
INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (3, N'الاطباء', N'Doctors')
SET IDENTITY_INSERT [dbo].[Group] OFF
SET IDENTITY_INSERT [dbo].[LanguageMaster] ON 

INSERT [dbo].[LanguageMaster] ([ID], [Language_Name]) VALUES (1, N'Arabic')
INSERT [dbo].[LanguageMaster] ([ID], [Language_Name]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[LanguageMaster] OFF
SET IDENTITY_INSERT [dbo].[Lanuage_Detials] ON 

INSERT [dbo].[Lanuage_Detials] ([Language_Detial_ID], [Language_Master_ID], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (11, 1, N'Language-Title', N'شاشة اللغات')
INSERT [dbo].[Lanuage_Detials] ([Language_Detial_ID], [Language_Master_ID], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (12, 2, N'Language-Language', N'Selected Language')
INSERT [dbo].[Lanuage_Detials] ([Language_Detial_ID], [Language_Master_ID], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (13, 2, N'Language-FieldName', N'The Field Name')
SET IDENTITY_INSERT [dbo].[Lanuage_Detials] OFF
SET IDENTITY_INSERT [dbo].[Log_File] ON 

INSERT [dbo].[Log_File] ([Log_Id], [Log_Date], [Log_Note], [Login_Id], [Form_Id], [Log_Name], [Log_Description]) VALUES (4, CAST(N'2020-04-02 18:59:50.117' AS DateTime), N'data:{"Employees":[],"Permission_Group":[],"Group_Id":40,"Group_Name_Ar":"5","Group_Name_En":"5"}', 1, 4, N'إنشاء مجموعة جديدة', N'')
INSERT [dbo].[Log_File] ([Log_Id], [Log_Date], [Log_Note], [Login_Id], [Form_Id], [Log_Name], [Log_Description]) VALUES (7, CAST(N'2020-04-02 20:30:58.173' AS DateTime), N'data:{"Employees":[],"Permission_Group":[],"Group_Id":41,"Group_Name_Ar":"6","Group_Name_En":"6"}', 1, 4, N'إنشاء مجموعة جديدة', N'')
GO
SET IDENTITY_INSERT [dbo].[Log_File] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification_Master] ON 

INSERT [dbo].[Notification_Master] ([Notification_Id], [Notification_Date], [Notification_Description_Ar], [Notification_Description_En], [Is_Read], [Date_Read], [Employee_Structure_Id], [Master_Id], [Notification_Link]) VALUES (1, CAST(N'2020-04-08 00:00:00.000' AS DateTime), N'omer', N'omer', 0, NULL, 1, 1, N'1')
INSERT [dbo].[Notification_Master] ([Notification_Id], [Notification_Date], [Notification_Description_Ar], [Notification_Description_En], [Is_Read], [Date_Read], [Employee_Structure_Id], [Master_Id], [Notification_Link]) VALUES (2, CAST(N'2020-04-12 01:58:31.507' AS DateTime), N'Reply', N'Reply', 0, NULL, 1, 1009, N'../../../../Pages/Treatment/ShowTreatment.aspx?getTreatmentId=1009&getTabId=4&getTreatmentDetialId=0&getNotificationID')
INSERT [dbo].[Notification_Master] ([Notification_Id], [Notification_Date], [Notification_Description_Ar], [Notification_Description_En], [Is_Read], [Date_Read], [Employee_Structure_Id], [Master_Id], [Notification_Link]) VALUES (3, CAST(N'2020-04-12 02:11:53.547' AS DateTime), N'Reply omer alharith', N'Reply omer alharith', 1, CAST(N'2020-04-12 02:23:38.240' AS DateTime), 2, 1008, N'../../../../Pages/Treatment/ShowTreatment.aspx?getTreatmentId=1008&getTabId=4&getTreatmentDetialId=0&getNotificationId=')
SET IDENTITY_INSERT [dbo].[Notification_Master] OFF
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon]) VALUES (1, N'المعاملات', N'Treatment', 0, N'Pages/Treatment/', N'icofont icofont-email')
INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon]) VALUES (2, N'الصلاحيات', N'Permissions', 0, N'Pages/Setting/UserManagment/', N'icofont icofont-ui-settings')
INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon]) VALUES (3, N'إنشاء صلاحيات', N'Create Permissions', 1010, N'Pages/Setting/UserManagment/Permissions.aspx', N'icofont icofont-navigation-menu')
SET IDENTITY_INSERT [dbo].[Permission] OFF
SET IDENTITY_INSERT [dbo].[Permission_Group] ON 

INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (98, 1, 2)
INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (99, 2, 2)
INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (100, 3, 2)
SET IDENTITY_INSERT [dbo].[Permission_Group] OFF
SET IDENTITY_INSERT [dbo].[Structure] ON 

INSERT [dbo].[Structure] ([Structure_Id], [Structure_Name_Ar], [Structure_Parent], [Structure_Name_En]) VALUES (1, N'مجلس الامناء', 0, N'مجلس الامناء')
INSERT [dbo].[Structure] ([Structure_Id], [Structure_Name_Ar], [Structure_Parent], [Structure_Name_En]) VALUES (2, N'مجلس الجامعة', 1, N'مجلس الجامعة')
INSERT [dbo].[Structure] ([Structure_Id], [Structure_Name_Ar], [Structure_Parent], [Structure_Name_En]) VALUES (3, N'مجلس الادارة', 1, N'مجلس الادارة')
SET IDENTITY_INSERT [dbo].[Structure] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Class] ON 

INSERT [dbo].[Treatment_Class] ([Treatment_Class_Id], [Treatment_Class_Name_Ar], [Treatment_Class_Name_En]) VALUES (1, N'تعميم', N'For All')
SET IDENTITY_INSERT [dbo].[Treatment_Class] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Confidentiality] ON 

INSERT [dbo].[Treatment_Confidentiality] ([Treatment_Confidentiality_Id], [Treatment_Confidentiality_Name_Ar], [Treatment_Confidentiality_Name_En], [Css_Class]) VALUES (1, N'عادي', N'Normal ', N'label label-success')
INSERT [dbo].[Treatment_Confidentiality] ([Treatment_Confidentiality_Id], [Treatment_Confidentiality_Name_Ar], [Treatment_Confidentiality_Name_En], [Css_Class]) VALUES (2, N'سري', N'Sercrit', N'label label-danger')
SET IDENTITY_INSERT [dbo].[Treatment_Confidentiality] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Delivery] ON 

INSERT [dbo].[Treatment_Delivery] ([Treatment_Delivery_Id], [Treatment_Delivery_Name_Ar], [Treatment_Delivery_Name_En]) VALUES (1, N' الاسلام', N'Delivered')
INSERT [dbo].[Treatment_Delivery] ([Treatment_Delivery_Id], [Treatment_Delivery_Name_Ar], [Treatment_Delivery_Name_En]) VALUES (3, N'ليس بعد', N'Not Yet')
SET IDENTITY_INSERT [dbo].[Treatment_Delivery] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Detial] ON 

INSERT [dbo].[Treatment_Detial] ([Treatment_Detial_Id], [Treatment_Id], [To_Employee_Structure_Id], [Parent], [Assignment_Status_Id], [Is_Read], [Read_Date], [Is_Delete], [Delete_Date], [Note], [Key_Word], [Treatment_Copy_To], [Treatment_Detial_Date]) VALUES (1022, 1007, 2, 0, 1, 0, NULL, 0, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Treatment_Detial] ([Treatment_Detial_Id], [Treatment_Id], [To_Employee_Structure_Id], [Parent], [Assignment_Status_Id], [Is_Read], [Read_Date], [Is_Delete], [Delete_Date], [Note], [Key_Word], [Treatment_Copy_To], [Treatment_Detial_Date]) VALUES (1023, 1008, 1, 0, 3, 1, CAST(N'2020-04-12 02:11:30.013' AS DateTime), 0, NULL, N'Reply omer alharith', N'', 0, CAST(N'2020-04-12 02:11:53.530' AS DateTime))
INSERT [dbo].[Treatment_Detial] ([Treatment_Detial_Id], [Treatment_Id], [To_Employee_Structure_Id], [Parent], [Assignment_Status_Id], [Is_Read], [Read_Date], [Is_Delete], [Delete_Date], [Note], [Key_Word], [Treatment_Copy_To], [Treatment_Detial_Date]) VALUES (1024, 1008, 2, 0, 1, 0, NULL, 0, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Treatment_Detial] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Master] ON 

SET IDENTITY_INSERT [dbo].[Treatment_Master] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Priority] ON 

INSERT [dbo].[Treatment_Priority] ([Treatment_Priority_Id], [Treatment_Priority_Name_Ar], [Treatment_Priority_Name_En], [Css_Class], [Card_Class]) VALUES (1, N'عادية', N'Normal', N'icofont icofont-star text-success', N'card card-border-success')
INSERT [dbo].[Treatment_Priority] ([Treatment_Priority_Id], [Treatment_Priority_Name_Ar], [Treatment_Priority_Name_En], [Css_Class], [Card_Class]) VALUES (2, N'عاجلة', N'urgent', N'icofont icofont-star text-danger', N'card card-border-danger')
SET IDENTITY_INSERT [dbo].[Treatment_Priority] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Procedure] ON 

INSERT [dbo].[Treatment_Procedure] ([Treatment_Procedure_Id], [Treatment_Procedure_Name_Ar], [Treatment_Procedure_Name_En]) VALUES (1, N'للتعميم', N'For all')
INSERT [dbo].[Treatment_Procedure] ([Treatment_Procedure_Id], [Treatment_Procedure_Name_Ar], [Treatment_Procedure_Name_En]) VALUES (2, N'للاحاطة', N'Briefing')
SET IDENTITY_INSERT [dbo].[Treatment_Procedure] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Status] ON 

INSERT [dbo].[Treatment_Status] ([Treatment_Status_Id], [Treatment_Status_Name_Ar], [Treatment_Status_Name_En]) VALUES (1, N'جديدة', N'New')
INSERT [dbo].[Treatment_Status] ([Treatment_Status_Id], [Treatment_Status_Name_Ar], [Treatment_Status_Name_En]) VALUES (2, N'قيد الإنجاز', N'Under Process')
INSERT [dbo].[Treatment_Status] ([Treatment_Status_Id], [Treatment_Status_Name_Ar], [Treatment_Status_Name_En]) VALUES (3, N'منتهية', N'Finished')
SET IDENTITY_INSERT [dbo].[Treatment_Status] OFF
SET IDENTITY_INSERT [dbo].[Treatment_Type] ON 

INSERT [dbo].[Treatment_Type] ([Treatment_Type_Id], [Treatment_Type_Name_Ar], [Treatment_Type_Name_En]) VALUES (1, N'سرية', N'Secrit')
INSERT [dbo].[Treatment_Type] ([Treatment_Type_Id], [Treatment_Type_Name_Ar], [Treatment_Type_Name_En]) VALUES (3, N'عادي', N'Noraml')
SET IDENTITY_INSERT [dbo].[Treatment_Type] OFF
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Treatment] FOREIGN KEY([Treatment_Id])
REFERENCES [dbo].[Treatment_Master] ([Treatment_Id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Treatment]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Group]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_LanguageMaster] FOREIGN KEY([Language_id])
REFERENCES [dbo].[LanguageMaster] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_LanguageMaster]
GO
ALTER TABLE [dbo].[Employee_Structure]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Structure_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Employee_Structure] CHECK CONSTRAINT [FK_Employee_Structure_Employee]
GO
ALTER TABLE [dbo].[Employee_Structure]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Structure_Structure] FOREIGN KEY([Structure_Id])
REFERENCES [dbo].[Structure] ([Structure_Id])
GO
ALTER TABLE [dbo].[Employee_Structure] CHECK CONSTRAINT [FK_Employee_Structure_Structure]
GO
ALTER TABLE [dbo].[Lanuage_Detials]  WITH CHECK ADD  CONSTRAINT [FK_Lanuage_Detials_LanguageMaster] FOREIGN KEY([Language_Master_ID])
REFERENCES [dbo].[LanguageMaster] ([ID])
GO
ALTER TABLE [dbo].[Lanuage_Detials] CHECK CONSTRAINT [FK_Lanuage_Detials_LanguageMaster]
GO
ALTER TABLE [dbo].[Log_File]  WITH CHECK ADD  CONSTRAINT [FK_Log_File_Employee] FOREIGN KEY([Login_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Log_File] CHECK CONSTRAINT [FK_Log_File_Employee]
GO
ALTER TABLE [dbo].[Log_File]  WITH CHECK ADD  CONSTRAINT [FK_Log_File_Permission] FOREIGN KEY([Form_Id])
REFERENCES [dbo].[Permission] ([Permission_Id])
GO
ALTER TABLE [dbo].[Log_File] CHECK CONSTRAINT [FK_Log_File_Permission]
GO
ALTER TABLE [dbo].[Owner_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Owner_Relationship_Treatment] FOREIGN KEY([Treatment_Id])
REFERENCES [dbo].[Treatment_Master] ([Treatment_Id])
GO
ALTER TABLE [dbo].[Owner_Relationship] CHECK CONSTRAINT [FK_Owner_Relationship_Treatment]
GO
ALTER TABLE [dbo].[Permission_Group]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Group_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[Permission_Group] CHECK CONSTRAINT [FK_Permission_Group_Group]
GO
ALTER TABLE [dbo].[Permission_Group]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Group_Permission] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permission] ([Permission_Id])
GO
ALTER TABLE [dbo].[Permission_Group] CHECK CONSTRAINT [FK_Permission_Group_Permission]
GO
ALTER TABLE [dbo].[Treatment_Detial]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Detial_Assignment_Status] FOREIGN KEY([Assignment_Status_Id])
REFERENCES [dbo].[Assignment_Status] ([Assignment_Status_Id])
GO
ALTER TABLE [dbo].[Treatment_Detial] CHECK CONSTRAINT [FK_Treatment_Detial_Assignment_Status]
GO
ALTER TABLE [dbo].[Treatment_Detial]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Detial_Employee_Structure] FOREIGN KEY([To_Employee_Structure_Id])
REFERENCES [dbo].[Employee_Structure] ([Employee_Structure_Id])
GO
ALTER TABLE [dbo].[Treatment_Detial] CHECK CONSTRAINT [FK_Treatment_Detial_Employee_Structure]
GO
ALTER TABLE [dbo].[Treatment_Detial]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Detial_Treatment] FOREIGN KEY([Treatment_Id])
REFERENCES [dbo].[Treatment_Master] ([Treatment_Id])
GO
ALTER TABLE [dbo].[Treatment_Detial] CHECK CONSTRAINT [FK_Treatment_Detial_Treatment]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Employee_Structure] FOREIGN KEY([From_Employee_Structure_Id])
REFERENCES [dbo].[Employee_Structure] ([Employee_Structure_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Employee_Structure]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Prepared_Administration] FOREIGN KEY([Prepared_Administration_Id])
REFERENCES [dbo].[Structure] ([Structure_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Prepared_Administration]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Class] FOREIGN KEY([Treatment_Class_Id])
REFERENCES [dbo].[Treatment_Class] ([Treatment_Class_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Class]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Confidentiality] FOREIGN KEY([Treatment_Confidentiality_Id])
REFERENCES [dbo].[Treatment_Confidentiality] ([Treatment_Confidentiality_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Confidentiality]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Delivery] FOREIGN KEY([Treatment_Delivery_Id])
REFERENCES [dbo].[Treatment_Delivery] ([Treatment_Delivery_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Delivery]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Priority] FOREIGN KEY([Treatment_Priority_id])
REFERENCES [dbo].[Treatment_Priority] ([Treatment_Priority_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Priority]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Procedure] FOREIGN KEY([Treatment_Procedure_Id])
REFERENCES [dbo].[Treatment_Procedure] ([Treatment_Procedure_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Procedure]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Status] FOREIGN KEY([Treatment_Status_Id])
REFERENCES [dbo].[Treatment_Status] ([Treatment_Status_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Status]
GO
ALTER TABLE [dbo].[Treatment_Master]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Treatment_Type] FOREIGN KEY([Treatment_Type_Id])
REFERENCES [dbo].[Treatment_Type] ([Treatment_Type_Id])
GO
ALTER TABLE [dbo].[Treatment_Master] CHECK CONSTRAINT [FK_Treatment_Treatment_Type]
GO
USE [master]
GO
