USE [REU_Registration]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/14/2020 12:46:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[country_code] [varchar](2) NOT NULL,
	[country_enName] [varchar](100) NOT NULL,
	[country_arName] [nvarchar](100) NOT NULL,
	[country_enNationality] [varchar](100) NOT NULL,
	[country_arNationality] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[country_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Countries] ([country_code], [country_enName], [country_arName], [country_enNationality], [country_arNationality]) VALUES (N'AD', N'Andorra', N'أندورا', N'Andorran', N'أندوري')
INSERT [dbo].[Countries] ([country_code], [country_enName], [country_arName], [country_enNationality], [country_arNationality]) VALUES (N'AE', N'United Arab Emirates', N'الإمارات العربية المتحدة', N'Emirati', N'إماراتي')
INSERT [dbo].[Countries] ([country_code], [country_enName], [country_arName], [country_enNationality], [country_arNationality]) VALUES (N'AF', N'Afghanistan', N'أفغانستان', N'Afghan', N'أفغانستاني')
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [country_code]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [country_enName]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [country_arName]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [country_enNationality]
GO
ALTER TABLE [dbo].[Countries] ADD  DEFAULT ('') FOR [country_arNationality]
GO
